# Name :- Harshawardhan Chitnis 
# Roll No :- 17 
# Name :- Ishwari Kulkarni
# Roll No :- 34

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer
import numpy as np
from sklearn.metrics import confusion_matrix

### Reading the dataset

In [2]:
df = pd.read_csv('Heart.csv')

In [3]:
df.head()

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,1,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,2,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,3,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,4,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,5,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No

In [4]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [5]:
df.head()

,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No

In [6]:
df.shape

(303, 14)

In [7]:
df.isna().sum()

Age          0
Sex          0
ChestPain    0
RestBP       0
Chol         0
Fbs          0
RestECG      0
MaxHR        0
ExAng        0
Oldpeak      0
Slope        0
Ca           4
Thal         2
AHD          0
dtype: int64

In [8]:
df.dropna(inplace=True)

In [9]:
df.isna().sum()

Age          0
Sex          0
ChestPain    0
RestBP       0
Chol         0
Fbs          0
RestECG      0
MaxHR        0
ExAng        0
Oldpeak      0
Slope        0
Ca           0
Thal         0
AHD          0
dtype: int64

In [10]:
df.head()

,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No

In [11]:
df.shape

(297, 14)

In [12]:
df['Age'].mean()

54.54208754208754

In [13]:
df.Thal.unique()

array(['fixed', 'normal', 'reversable'], dtype=object)

In [14]:
le=LabelEncoder()
ohe=OneHotEncoder()

for i in ['ChestPain','Thal']:
    cols=df[i].unique()
    df[i]=le.fit_transform(df[i])
    ct=ColumnTransformer([(i,ohe,[0])])
    df=pd.concat([df,pd.DataFrame(ct.fit_transform(pd.DataFrame(df[i])).toarray(),columns=cols)],axis=1)
    print(cols)

['typical' 'asymptomatic' 'nonanginal' 'nontypical']
['fixed' 'normal' 'reversable' nan]

In [15]:
df

,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,...,Thal,AHD,typical,asymptomatic,nonanginal,nontypical,fixed,normal,reversable,NaN
0,63.0,1.0,3.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,...,0,No,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
1,67.0,1.0,0.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,...,1,Yes,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,67.0,1.0,0.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,...,2,Yes,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,37.0,1.0,1.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,...,1,No,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
4,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,...,1,No,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
297,57.0,0.0,0.0,140.0,241.0,0.0,0.0,123.0,1.0,0.2,...,2,Yes,NaN,NaN,NaN,NaN,0.0,0.0,1.0,0.0
298,45.0,1.0,3.0,110.0,264.0,0.0,0.0,132.0,0.0,1.2,...,2,Yes,NaN,NaN,NaN,NaN,0.0,0.0,1.0,0.0
299,68.0,1.0,0.0,144.0,193.0,1.0,0.0,141.0,0.0,3.4,...,2,Yes,NaN,NaN,NaN,NaN,0.0,0.0,1.0,0.0
300,57.0,1.0,0.0,130.0,131.0,0.0,0.0,115.0,1.0,1.2,...,2,Yes,NaN,NaN,NaN,NaN,0.0,0.0,1.0,0.0
301,57.0,0.0,2.0,130.0,236.0,0.0,2.0,174.0,0.0,0.0,...,1,Yes,NaN,NaN,NaN,NaN,0.0,1.0,0.0,0.0

In [16]:
df.columns

Index([         'Age',          'Sex',    'ChestPain',       'RestBP',
               'Chol',          'Fbs',      'RestECG',        'MaxHR',
              'ExAng',      'Oldpeak',        'Slope',           'Ca',
               'Thal',          'AHD',      'typical', 'asymptomatic',
         'nonanginal',   'nontypical',        'fixed',       'normal',
         'reversable',            nan],
      dtype='object')

In [17]:
df.dropna(inplace=True)

In [18]:
le=LabelEncoder()
df['AHD']=le.fit_transform(df['AHD'])

In [19]:
X=df.drop('AHD', axis=1)
Y=df['AHD']

### Train Test Split

In [20]:
x_train, x_test, y_train, y_test = train_test_split(X,Y,test_size=0.2)

In [21]:
model= LogisticRegression()
model.fit(x_train, y_train)

/Users/harshawardhanchitnis/opt/anaconda3/lib/python3.8/site-packages/sklearn/utils/validation.py:1675: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['float', 'str']. An error will be raised in 1.2.
  warnings.warn(
/Users/harshawardhanchitnis/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

### Calculations

In [22]:
accuracy = model.score(x_test, y_test)

/Users/harshawardhanchitnis/opt/anaconda3/lib/python3.8/site-packages/sklearn/utils/validation.py:1675: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['float', 'str']. An error will be raised in 1.2.
  warnings.warn(

In [23]:
cm = confusion_matrix(y_test, model.predict(x_test))

/Users/harshawardhanchitnis/opt/anaconda3/lib/python3.8/site-packages/sklearn/utils/validation.py:1675: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['float', 'str']. An error will be raised in 1.2.
  warnings.warn(

In [24]:
[tp, tn], [fp, fn] = cm

In [25]:
recall = tp/tp+fn

In [26]:
precision = tp/tp+fp

In [27]:
f_measure = (2*recall*precision)/(recall+precision)

In [28]:
print("Recall: ", recall, " Precision: ", precision, " Accuracy: ", accuracy, " f-measure: ", f_measure)

Recall:  27.0  Precision:  4.0  Accuracy:  0.9152542372881356  f-measure:  6.967741935483871